* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

.section {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(#f8edb1, #beecd2);
}

.section .mainrow {
  transform: translate(8%, 15%);
}

.section .mainrow .center {
  transform: translateY(-10%);
}

.section .mainrow .center .mon {
  border-radius: 35px;
  background-color: #3de28f;
  border: 2px solid #222;
  width: 30%;
  margin: auto;
  transform: translateX(-5%);
}

.section .mainrow .center .mon h2 {
  font-weight: bold;
  margin-top: 5px;
}

.section .mainrow .center #maintext {
  transform: translate(-1%, 10%);
}

.section .mainrow .center #calendar {
  transform: translate(13%, 30%);
  margin: 0 auto;
}

.section .mainrow .center .text {
  transform: translate(-1%, 70%);
}

.section .mainrow .center .text p {
  font-size: 35px;
}

.section .mainrow .circle {
  transform: translate(260%, -20%);
}

.section #lefttree {
  left: 0;
  transform: translateY(30%);
  width: 33%;
  padding: 0;
}

.section #righttree {
  right: 0;
  transform: translateY(10%);
  width: 32%;
  padding: 0;
}

.section #people {
  transform: translate(75%, 59%);
  width: 22%;
  z-index: 99;
}

article {
  padding: 26px;
}

button {
  background: 0;
  border: 0;
  padding: 0;
}

h3,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.tit {
  margin: 10px auto 0 auto;
  font-size: 30px;
  font-weight: 300;
}

.tit_sub {
  margin: 0 0 24px 0;
  font-size: 20px;
  color: red;
}

.totop_arrow1 {
  width: 100px;
  height: 100px;
  position: relative;
  background: #bfedd2;
  border-radius: 50%;
  text-indent: -9999px;
}

.totop_arrow1:before, .totop_arrow1:after {
  content: '';
  width: 35px;
  height: 4px;
  position: absolute;
  top: 65%;
  border-radius: 5px;
  background: #fff;
}

.totop_arrow1:before {
  left: 21px;
  transform: translateY(-50%) rotate(45deg);
}

.totop_arrow1:after {
  right: 21px;
  transform: translateY(-50%) rotate(-45deg);
}

.event {
  height: 850px;
  background-color: #fff7e9;
}

.event .mainevent {
  padding: 72px;
}

.event .underscore {
  transform: translateY(150px);
}

.event .login {
  background-color: black;
  color: white;
  width: 20%;
  height: 50px;
  margin: 0 auto;
  transform: translateY(65px);
  padding: 5px;
  border-radius: 10px;
}

.event .login h2 {
  cursor: pointer;
}

.event .login h2 a {
  color: white;
}

.event .member {
  font-size: 40px;
  padding: 2rem;
}

.event .coupon {
  overflow: hidden;
  margin: 0 auto;
}

.event .coupon h2 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 25px;
  padding: 20px;
}

.event .coupon .jum {
  border: 2px dashed;
  margin-top: -148px;
}

.event .coupon .coupon1 {
  border: 2px solid #222;
  width: 270px !important;
  height: 210px;
  border-radius: 20px;
  margin: 0 30px;
}

.event .coupon .coupon1 .sale {
  text-align: center;
  font-size: 25px;
}

.event .coupon .coupon1 .addsale {
  transform: translate(-8px, -32px);
  margin: 0 20px;
}

.event .coupon .coupon1 .addsale .five {
  font-size: 80px;
}

.event .coupon .coupon1 .addsale .add {
  font-size: 25px;
  line-height: 1rem;
  transform: translate(10px, 37px);
}

.event .coupon .coupon1 .download {
  background-color: #3de28f;
  width: 266px;
  height: 70px;
  transform: translateY(-106%);
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.event .coupon .coupon1::before {
  content: "";
  background-color: #fff7e8;
  border: 2px solid #222;
  border-radius: 100%;
  width: 35px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
}

.event .coupon .coupon2 {
  border: 2px solid #222;
  width: 270px !important;
  height: 210px;
  border-radius: 20px;
  margin: 0 30px;
}

.event .coupon .coupon2 .money {
  font-size: 25px;
}

.event .coupon .coupon2 .fiveten {
  font-size: 80px;
  transform: translateY(-31%);
}

.event .coupon .coupon2 .download {
  background-color: #edff99;
  width: 266px;
  height: 70px;
  transform: translateY(-106%);
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.event .coupon .coupon2::before {
  content: "";
  background-color: #fff7e8;
  border: 2px solid #222;
  border-radius: 100%;
  width: 35px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
}

.event .coupon .coupon2::after {
  content: "";
  background: #f5f59c;
}

.event .coupon .coupon3 {
  border: 2px solid #222;
  width: 270px !important;
  height: 210px;
  border-radius: 20px;
  margin: 0 30px;
}

.event .coupon .coupon3 .ticket {
  font-size: 25px;
}

.event .coupon .coupon3 .ten {
  font-size: 80px;
  transform: translateY(-31%);
}

.event .coupon .coupon3 .download {
  background-color: #ff99b9;
  width: 266px;
  height: 70px;
  transform: translateY(-106%);
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}

.event .coupon .coupon3::before {
  content: "";
  background-color: #fff7e8;
  border: 2px solid #222;
  border-radius: 100%;
  width: 35px;
  height: 40px;
  display: block;
  margin: 0 auto;
  margin-top: -20px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
  right: -55px !important;
  left: auto;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
  left: -50px !important;
  right: auto;
}

.event2 {
  background-color: #fff7e9;
  height: 855px;
}

.event2 .love {
  font-size: 40px;
  padding: 2rem;
  line-height: 2.5rem;
}

.event2 .travel {
  height: 542px;
  margin: 0 auto;
}

.event2 .travel .play {
  margin: 35px 93px;
}

.event2 .travel .play .chair {
  transform: translate(5%, 5%);
}

.event2 .travel .play .camp {
  transform: translate(5%, -2%);
}

.event2 .travel .play .water {
  transform: translate(5%, 4%);
}

.event2 .travel .play .img {
  padding: 0 40px;
}

.event2 .travel .play .formtext {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-right: 3rem;
}

.event2 .travel .application {
  background-color: black;
  color: white;
  width: 11.5%;
  height: 50px;
  margin: 5px auto;
  padding: 5px;
  border-radius: 10px;
}

.event2 .travel .application h2 {
  cursor: pointer;
}

.event2 .travel .application a {
  color: white;
}

[name='camping']:checked + label::before {
  content: "";
  background: url(/publishe/img/checkgreen.png) no-repeat 0 0;
  background-size: 23px 23px;
}

[name='camping'] + label::before {
  content: "";
  position: absolute;
  top: 97%;
  width: 24px;
  height: 24px;
  left: 41%;
  background: url(/publishe/img/check.png);
  background-size: 24px 24px;
}
